/*Creado con Ardora - www.webardora.net
bajo licencia Attribution-NonCommercial-NoDerivatives 4.0 International (CC BY-NC-ND 4.0)
para otros usos contacte con el autor*/
.ui-corner-all{ -webkit-border-radius: 4px; border-radius: 4px;}
body{background-color:black;}
#ardoraMain{ font-family:Verdana, Geneva, sans-serif; color: #F0F0F0; padding: 5px; position: relative;}
#ardoraEnu{ font-size: 12px; position: relative; padding: 5px; margin-bottom: 10px;
text-align: justify;
}
#ardoraAlumSCORM{visibility: hidden;padding:0px;margin:0px;position: absolute;height: 15px;width: 250px;bottom: 0px;right: 0px;cursor: pointer;border-style: dotted;
border-width: 1px;-webkit-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px;
-webkit-box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);font-size: 10px;
background:rgba(255,128,0,0.5);}
#ardoraAlumSCORM p{padding:0px;margin:0px;padding-left: 2px;}
#buttonOk{ position: absolute; height: 70px; width: 70px; bottom: 0px; cursor: pointer;border-style: solid; border-width: 1px;
-webkit-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px;
-webkit-box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5); box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);}
#ardoraTabCanvas{width: 70px;border-style: solid;border-width: 1px;-webkit-border-radius: 4px;-khtml-border-radius: 4px;border-radius:4px;-webkit-box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);box-shadow: 4px 4px 4px rgba(50,50,50,0.5);height:98px;} 
#ardoraActCanvas{z-index: 0; position: absolute; visibility:hidden;top:0; left:5px;}
#ardoraAct{position: relative; margin-right: 10px; padding: 5px; float: left;
}
#ardoraTab{width: 70px; height:320px;position: relative; visibility: visible;padding:5px;float:left;}
.rec{margin-left:0px; position: relative;}
.c050{margin-left:0px;margin-top:0px;position:absolute;}
.c100{margin-left:70px;margin-top:0px;position:absolute;}
.c200{margin-left:139px;margin-top:0px;position:absolute;}
.cB5{margin-left:214px;margin-top:0px;position:absolute;}
.cB10{margin-left:0px;margin-top:85px;position:absolute;}
.cB20{margin-left:110px;margin-top:85px;position:absolute;}
#origin{width:400px;height:170px;cursor:pointer;margin-top:20px;padding:10px;position:absolute;border-radius:4px;}
#origin:hover{background-color:rgba(255,128,0,0.2);}
#drop{background:radial-gradient(ellipse at center,#FFFDFD,#FFFFFF);width:400px;height:150px;border-style:solid;border-width:2px;border-radius:4px;padding:10px;}
#score{margin-top:-10px;margin-right:20px;background-color:#FFFDFD;float:right;padding:0px 4px 0px 4px; border-style:solid;border-width:2px;border-color:#000000;border-radius:4px; font-family:Verdana, Geneva, sans-serif;font-size:14px;background:radial-gradient(ellipse at center,#FFFDFD,#FFFFFF);color:#000000;text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);}
#score p{margin:4px;}
#actText{color:#FF0000;font-family:Verdana, Geneva, sans-serif;font-size:20px;width:420px;text-align:justify;margin:0 0 15px 0;padding:0;min-height:0;}
.imaLeft {margin-bottom:5px;margin-right:5px;float: left;}
.buttonAu{position: absolute;right:0px;margin:0 0 0 20px;top:0px;padding:5px;background-color:rgba(255,128,0,0.1);border-width:2px;border-color:rgba(255,128,0,0.1);;border-style:solid;border-radius:4px;}
.buttonAu:hover{background-color:#FFFDFD;cursor: pointer;}
